{{#partial "content"}}

<h1>Post List</h1>

{{#if posts}}
    {{#each posts}} <!--loop-->
    <div class = "well">
        <p>{{content}} <a href="/posts/{{id}}">read more...</a></p>
    </div><!--show-->
    {{/each}}
{{else}} <!--noposts-->
    <p>No posts!</p>
{{/if}}

<footer class="footer">
       <div class="container">
           <p class="text-muted"><a href="/posts/delete">DELETE ALL POSTS</a></p>
       </div>
   </footer>
{{/partial}}

{{> layout.hbs}}