{{#partial "content"}}

<h1>Post List</h1>

{{#if posts}}
    {{#each posts}} <!--loop-->
    <div class = "well">
        <p>{{content}} <a href="/posts/{{id}}">read more...</a></p>
    </div><!--show-->
    {{/each}}
{{else}} <!--noposts-->
    <p>No posts!</p>
{{/if}}

{{/partial}}

{{> layout.hbs}}